<h1 class="animated fadeIn fast">Commic App</h1>
<hr>
<p class="text-justify animated fadeIn ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, voluptatibus consectetur, consequuntur laborum, iste quam optio enim accusantium saepe voluptatem itaque ex. Iste dicta harum temporibus ipsum omnis, nulla reprehenderit. Quibusdam aliquid
    doloremque velit maxime ratione, veniam dolorum atque sit, neque, recusandae dicta distinctio corporis eveniet eius nostrum suscipit minus reiciendis! Mollitia autem unde nobis facilis saepe! Deserunt, sit nam. Sunt optio officiis corrupti, minima
    labore non nihil rem error amet iste fugiat maiores, voluptates earum, accusantium cumque atque itaque culpa reiciendis obcaecati doloribus at! Nisi iure excepturi cumque asperiores? Tempora dolor rerum atque et quam ex corporis facere dolore numquam!
</p>
