<h1 class="text-center"> Heros <small>de Marvel et Dc</small> </h1>
<hr>
<div class="card-columns">
    <!-- j'affiche l'information avec un Ngfor vu quel'information qui viens de mon service  est dans la variable herosLocal dans fichier heros.component.ts  -->
    <div class="card" *ngFor="let heros of herosLocal">
        <!--    Cette [src] attribut je le mets entre crocher pour dire que cette information c'est angular qui va gérer pareil pour [alt]   -->
        <img [src]="heros.img" class="card-img-top" [alt]="heros.nom">
        <div class="card-body">
            <h3 class="card-title text-center"> {{ heros.nom }} </h3>
            <p class="card-text text-justify"> {{ heros.bio }} </p>
            <p class="card-text"><small class="text-muted"> {{ heros.apparition }} </small></p>
            <button class="btn btn-outline-primary btn-block" type="button"> Voir plus</button>
        </div>
    </div>
