<!-- Creation du nav avec Bootstrap -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Heros List
        <img src="assets/img/A-64.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <!-- routerLinkActice="active"  cette propriété est pour générer de manière automatique  l'effet visuel de soulignement du text quand on passe la souri sur le menu   -->
            <li class="nav-item" routerLinkActive="active">
              <!-- [routerLink]=" ['home']" permet de créer un lien vers des itinéraires spécifiques de votre application par exemple si je fais click sur home m'evoie vers le composant home de la page  -->
                <a class="nav-link" [routerLink]=" ['home']" >Home </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]=" ['heros'] ">Heros</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]=" ['about'] ">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Recherche</button>
        </form>
    </div>
</nav>
